.hidden {
    display: none;
}

div.tooltip {
    white-space: pre-wrap;
    color: #222;
    background-color: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute;
}